html,body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
 
        :root {
            --main-font: 'Geo', sans-serif;
            --light-green: #74f274; 
            --dark-green: #0fa30f;
            --light-red: #f27474;
            --dark-red: #a30f0f;
        }
 
        #gameArea {
          width: 100%;
          height: 100%;
          background: white;
          z-index: 0;
          cursor: crosshair;
        }

        #mainControls {
          display: block;
        }

         #press-e {
          display: block;
          position: absolute;
          font-family: var(--main-font); 
          color: white; 
          background: #222222; 
          margin: auto;  
         }
 
        .controls-container__interaction-buttons {
          position: absolute;
          width: min-content;
          height: 8em;
          right: 1px;
          top: calc(50% - 5em);
          margin: 1em;
          user-select: none; 
        } 

        .interaction-buttons__button {
          width: 2em;
          height: 2em;
          background: #555555;
          display: inline-block;
          margin-top: 0.5em;
          border: none;
          border-bottom: 4px solid #333333; 
          color: white;
          box-sizing: border-box;
          font-family: var(--main-font);
          outline: 2px solid #111111;
          margin-left: 0.5em;
          float: right;
          padding: 0;
        }

        .interaction-buttons__button p {
          display: block; 
          width: 100%;
          height: 100%;
          line-height: 1.8em;
          margin: 0;
          padding: 0;
        }

        .grab-button {
          margin-bottom: 1em;
        }

        .grab-button p::after {
          content: "";
          display: block;
          width: 1em; 
          height: 1em;
          background: #777777;
          margin: auto;
          transform: translateY(calc(4px + 0.5em));
          clip-path: polygon(0% 80%, 100% 80%, 50% 0%, 0% 80%);
        }

        .action-button {
          margin-right: 3.6em;
          margin-bottom: 1em;
        }
        
        .speak-button p::after {
          content: "";
          display: block;
          width: 1em; 
          height: 1em;
          margin: auto;
          background: #777777;
          transform: translateY(-3.5em);
          clip-path: polygon(0% 20%, 100% 20%, 50% 100%, 0% 20%);
        }

        .action-button p::after {
          content: "";
          display: block;
          width: 1em; 
          height: 1em;
          background: #777777;
          transform: translate(calc(2.5em + 2px),calc(-1em - 5px));
          clip-path: polygon(0% 50%, 80% 0%, 80% 100%, 0% 50%);
        }

        #dialogue {
          display: none;
        }

        .panel {
          width: 100%;
          height: 10%;
          position: absolute;
          background: #222222;
          display: block;
        }

        .top-panel {
          top: 0;
          display: flex;
          align-items: center;
          flex-wrap: nowrap;
          padding-left: 0.5em;
          padding-right: 0.5em;
          box-sizing: border-box;
        }
        
        .bottom-panel {
          height: 20%;
          bottom: 0;
          padding: 1%;
          box-sizing: border-box;
          min-height: min-content;
        }

        .bottom-panel__dialogue {
          width: 100%;
          height: 3em;
          display: grid;
          position: relative;
          grid-template-rows: 100%;
          grid-template-columns: 2em calc(100% - 2em);
        }   

        .bottom-panel__nav {
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          height: 100%;
          border: 1px solid white;
          display: block;
          position: relative;
        }

        .bottom-panel__options {
          display: block;
          width: 100%;
          height: 100%;
          color: white;
          font-family: var(--main-font);
          position: relative;
          padding-left: 0.5em;
          padding-right: 0.5em;
          box-sizing: border-box;
          grid-column-start: 2;
          grid-column-end: 3;
        }

        .option {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 100%;
        }

        .nav-up, .nav-down {
          width: 100%; 
          height: 50%;
          border: none;
          background: none;
        }
        
        .nav-up div {
          width: 100%; 
          height: 100%;
          background: white;
          transform: scale(0.6);
          clip-path: polygon(0% 100%, 100% 100%, 50% 0%, 0% 100%);
         }
 
         .nav-down div {
          width: 100%; 
          height: 100%;
          background: white;
          transform: scale(0.6);
          clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 0%);
         }

        .option {
          height: 50%;
          display: block;
          margin: 0;
          padding: 0;
          padding-left: 0.5em;
        }

        .option-1 {
          background: #444444;
        }

        .subtitles {
          color: white;
          text-align: center; 
          display: block;
          width: 100%;
          bottom: 25%;
          pointer-events: none;
          font-weight: 500;
          font-size: 80%;
          display: inline-block;
          font-family: var(--main-font);
          margin: 0;
          padding: 0;
        }
 
        #mapInfo {
         display: grid; 
         position: absolute;
         width: 6em;
         height: min-content;
         pointer-events: none;
         left: 2px;
         padding: 0;
         margin: 0;
         top: calc(3.4em + 2px);
         margin: 1em;
         grid-template-rows: auto auto; 
         grid-template-columns: auto;
         outline: 2px solid rgba(0,0,0,0.95);
         user-select: none;
       }

       #mapInfo::before {
         content: "";
         display: block;
         width: 100%;
         height: 4px;
         background: rgba(0,0,0,0.4);
         position: relative;
         top: calc(100% - 4px);
         z-index: 1;
         grid-area: 2/1/3/2;
       }

       #mapDisplay {
         background: black;
         opacity: 0.7;
         width: 100%;
         height: 100%;
         padding: 0;
         margin: 0;
         grid-area: 2/1/3/2;
         box-sizing: border-box;
         border-top: none; 
       }

       #mapTime {
        font-family: var(--main-font);
        color: white;
        padding: 3%; 
        margin: 0;
        width: 100%;
        height: 100%;
        font-size: 0.8em;
        box-sizing: border-box;
        position: relative;
        display: inline-block; 
        background: rgba(0,0,0,0.85);
        grid-area: 1/1/2/2;
       }

       #coords-container {
        grid-area: 2/1/2/2;
        text-align: center;
        display: grid; 
        grid-template-rows: 100%; 
        grid-template-columns: 100%; 
        background: rgba(0, 0, 0, 0.5); 
       }

       #coords-container::before {
        content: ""; 
        display: block; 
        width: 50%; 
        height: 100%;
        grid-area: 1/1/2/2;  
        border-right: 1px solid rgba(255, 255, 255, 0.5);  
        z-index: 1;  
       }

       #coords-container::after {
        content: ""; 
        display: block; 
        width: 100%; 
        height: 50%;
        grid-area: 1/1/2/2;  
        border-bottom: 1px solid rgba(255, 255, 255, 0.5); 
        z-index: 1;  
       }

       #coords {
        color: white; 
        font-family: var(--main-font);
        font-size: 0.6em;
        padding: 0.2em; 
        margin: 0;
        width: max-content;  
        height: min-content;
        border-radius: 2px;
        background: rgba(0, 0, 0, 0.5);
        margin: 0.2em; 
        grid-area: 1/1/2/2;
        z-index: 0;
       }
 
       #mapTime i {
         padding: 0; 
         margin: auto;
         width: 100%;
         text-align: center;
         display: inline-block;
       }

       #mapTime * {
         display: inline;
       }

       #mapTime small {
         font-size: 0.7em;
       }

        .texture {
            display: none;
        }
         
        @keyframes fade-in {
            0% {
                opacity: 0.0;
            }
            
            50% {
               opacity: 0.0;    
            }
            
            100%{
                opacity: 1.0;
            }
        }
        
        @keyframes loader-spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
          
          /* style for onscreen controls and content */
          
          #controls-container {
              position: absolute;
              width: 100vw;
              height: 100vh;
              display: block;
              z-index: 2;
              top: 0;
              left: 0;
              padding: 1em;
              box-sizing: border-box;
          }
          
          .controls-container__inv {
            position: absolute;
            top: calc((100% - 7vmax) - 1em - 2px);
            width: 15vmax;
            height: 7vmax;
            left: calc(50% - 19.5vmax);
            display: grid;
            grid-template-columns: repeat(5, 7vmax);
            grid-template-rows: 100%;
            grid-gap: 1vmax;
            font-family: var(--main-font);
            counter-set: active-item 0;
          }
          
          .controls-container__item {
            width: auto;
            height: auto;
            background-color: #898989;
            border-bottom: 6px solid #676767;
            outline: 2px solid #111111;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom right;
          }

          .controls-container__item--equipped {
            background-color: #666666;
            border-bottom: 6px solid #444444;
          }
          
          .controls-container__item::before {
              counter-increment: active-item;
              content: counter(active-item);
              display: block;
              width: 100%;
              height: 100%;
              background: none;
              margin-left: 5px;
          }

          .controls-container__buttons {
              float: right;
              width: auto;
              height: 2.8rem;
              position: absolute;
              top: 0;
              right: 0;
              margin: 1em;
              user-select: none; 
          }

          .controls-container__button { 
             width: 3em;
             height: 3em;
             display: inline-block;
             padding: 0;
             border: none;
          }
 
          .controls-container__button:active {
             opacity: 1;
          }
                   
          .controls-container__stats {
              user-select: none;
              display: block;
              width: max-content;
              height: 2.4em;
              white-space: nowrap;
              position: absolute;
              margin: calc(1em + 1.5px);
              left: 0;
              top: 0;
          }

          .controls-container__info-boxes {
              position: absolute;
              top: calc((100% - 8vmax) - 3em - 2px);
              left: calc(50% - 19.5vmax);
              display: flex;
              flex-direction: row;
              user-select: none;
              justify-content: flex-end;
              width: 39vmax;
              height: 2em;
          }

          .info-box {
              font-size: 90%;
              background: #4C4C4C;
              outline: 2px solid #111111;
              border-bottom: 4px solid #333333;
              margin-left: 0.5em;
              display: none;
              width: max-content;
              white-space: nowrap;
              padding-right: 0.5em;
              color: white;
              align-items: center;
              font-family: var(--main-font);
              height: 2em;
              box-sizing: border-box;
              flex-direction: flex-end;
              align-items: center;
          }

          .info-box p {
              display: inline-block;
              float: right;
              font-size: 90%;
          }
 
          .settings__settings-container h1 {
            padding: 0; 
            margin: 0;
            margin-bottom: 0.5em;  
          }
 
          #console-button, #action-button {
            position: absolute;
            background: #3C3C3C;
            padding: 0;
            margin: calc(1em + 2px);
            width: 2.5em;
            height: 2.5em;
            outline: 2px solid #111111;
            border-bottom: 4px solid #2C2C2C;
            bottom: 0;
            right: 0; 
            user-select: none; 
          }

          #action-button {
            bottom: initial;
            top: 20%;
            width: 3em; 
            height: 3em;
            border-radius: 100%;
            border: 3px solid rgba(1,1,1,0.6); 
          }

          #console-button img, #action-button img {
            opacity: 0.7;
            width: 100%;
            height: 100%;
            transform: scale(0.8);
          }
          
          .controls-container__stats img {
              height: 100%;
              display: inline-block;
          }
          
          .controls-container__health {
              display: inline-flex;
              height: 100%;
              width: 100%;
              background: #3C3C3C;
              outline: 2px solid #111111;
              border-bottom: 6px solid #2C2C2C;
              padding-right: 0.5em;
              align-items: center;
              box-sizing: border-box;
              vertical-align: top;
              user-select: none; 
          }

          .controls-container__money { 
              background: #3C3C3C;
              outline: 2px solid #111111;
              border-bottom: 6px solid #2C2C2C; 
              width: max-content;
              flex-wrap: nowrap;
              padding-right: 0.5em;
              color: white;
              align-items: center;
              font-family: var(--main-font);
              height: 2.4em;
              box-sizing: border-box;
              align-items: center;
              position: absolute;
              display: inline-flex;
              margin-left: 1em;
          } 
          
          .controls-container__healthbar {
              display: block;
              width: 25vmin;
              height: 30%;
              background: rgba(0,0,0,0.5); 
          }
          
          .controls-container__healthbar div {
              height: 100%;
              width: 100%;
              background: #74f274; 
          }
          
          .icon {
              height: 100%;
              display: inline-block;
              opacity: 0.7;
              transform: scale(0.5);
          } 

          #ammo-display div {
           height: 100%;
           display: none;
           aspect-ratio: 1/1;
          }

          #ammo-display div div {
           height: 30%;
           aspect-ratio: 1/1;
           display: block;
           margin: auto;
           border-radius: 50%;
           border: 3px solid rgba(0,0,0,0.0);
           border-right: 4px solid white;
           opacity: 0.7;
           animation: loader-spin 0.3s linear infinite;
          }
          
          #hunger, #thirst {
              color: white;
              font-family: var(--main-font);
          }

          #map {
              user-select: none;
              width: 80%;
              height: 90%;
              position: absolute;
              background: none;
              left: 10%;
              top: calc(5% - 2.5px);
              font-family: var(--main-font);
              color: white;
              font-size: 1em;
              grid-template-columns: 50% 50%;
              grid-template-rows: 2.5em calc(100% - 2.5em);
              display: none;
              box-shadow: 0px 0px 10px black;
              border-bottom: 5px solid #131313;
              z-index: 1;
              outline: 2px solid #111111;    
          }
 
          .map__key {
            background: #3C3C3C;
          }

          .map__keys td {
            text-align: left !important; 
          }
    
          .map__canvas {
            box-sizing: border-box;
            border: 10px solid #222222;
            border-left: none;
            width: 100%;
            height: 100%;
            grid-area: 2/2/4/3;
            font-size: 0.8em;
            display: block;
            overflow: hidden;
            text-align: center;
          }

          .map__canvas::before {
            content: "";
            display: block;
            position: relative;
            width: 100%;
            height: 50%;
            opacity: 0.5;
            pointer-events: none;
            border-bottom: 1px solid white;
            z-index: 1;
            transform: translateY(-1px);
          }

          .map__canvas::after {
            content: "";
            display: block;
            position: relative;
            width: 50%;
            height: 100%;
            pointer-events: none;
            opacity: 0.5;
            border-right: 1px solid white;
            transform: translate(0,calc(-150% - 4px));
          }

          .map__coordinates {
            grid-area: 1/2/2/3;
            position: relative;
            height: 1em;
            left: 100%;
            top: 100%;
            white-space: nowrap;
            color: white;
            font-family: var(--main-font);
            filter: drop-shadow(0 0 1px black);
            font-size: 0.8em;
            z-index: 1;
            transform: translate(calc(-100% + 0.5em),100%);
          }

          .map__zoom {
            grid-area: 2/2/3/3;
            z-index: 1;
            width: 100%;
            height: 1em;
            position: relative;
            left: calc(100% - 2em);
            filter: drop-shadow(0 0 1px black);
          }

          .map__zoom p {
            color: white;
            width: 1em;
            height: 1em;
            text-align: center;
            border: 1px solid white; 
          }

          .map__key-info {
            padding: 0.5em !important;
            padding-top: 0.2em !important;
            padding-bottom: 0.2em !important;
          }

          .map__key-info p {
            display: inline-block;
          }

          .map__keys tr p::before {
            content: "";
            width: 1em;
            height: 1em;
            background: white;
            display: inline-block;
            margin-right: 0.5em;
            transform: translate(0,0.15em);
          }
 
          .map__keys tr:nth-child(2) p::before {
            background: rgb(44, 143, 219);
          }

          .map__keys tr:nth-child(3) p::before {
            background: rgb(219, 44, 44); 
          }
          
          .map__keys tr:nth-child(4) p::before {
            background: rgb(44, 219, 53);   
          }

          .map__keys tr:nth-child(5) p::before {
            background: rgb(204, 44, 219);   
          }
          
          .map__keys tr:nth-child(6) p::before {
            background: rgb(100,100,100);   
          }
           
          .map__keys tr:nth-child(7) p::before {
            background: rgba(255,255,255); 
          }          
          
          .map__keys tr:nth-child(8) p::before {
            background: rgb(180,180,180);   
          }          

          #set-waypoint, #place-item, #sell-items {
            font-family: inherit;
            font-size: 0.7em;
            margin-right: 1em;
            background: none;
            float: right;
            color: inherit;
            border: 1px solid white;
            border-bottom: 4px solid white;
          }

          #place-item {
            display: none;
          }

          #interactive-map {
            background: rgba(1,1,1,0.8);
            width: 100%;
            height: 100%;
            z-index: 1;
            transform: translate(0,calc(-50% - 1px)) scale(1.1);
          } 
 
          #main-inventory {
              user-select: none;
              z-index: 1;
              background: #3C3C3C;
              width: 80%;
              height: 90%;
              position: absolute;
              left: 10%;
              top: calc(5% - 2.5px);
              font-family: var(--main-font);
              color: white;
              font-size: 1em;
              grid-template-columns: 40% 60%;
              grid-template-rows: 2.5em calc(100% - 6em) 3.5em;
              display: none;
              box-shadow: 0px 0px 10px black;
              border-bottom: 5px solid #131313;
              outline: 2px solid #111111;    
          }

          #store {
              user-select: none;
              z-index: 1;
              background: #3C3C3C;
              width: 80%;
              height: 90%;
              position: absolute;
              left: 10%;
              top: calc(5% - 2.5px);
              font-family: var(--main-font);
              color: white;
              font-size: 1em;
              grid-template-columns: 40% 60%;
              grid-template-rows: 2.5em calc(100% - 2.5em);
              display: none;
              box-shadow: 0px 0px 10px black;
              border-bottom: 5px solid #131313;
              outline: 2px solid #111111;  
          }

          .note-wrapper, .title-card-wrapper {
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           z-index: 3; 
           background: rgba(0,0,0,0.5);
           display: none;
           justify-content: center;
           align-items: center;
          }

          .title-card-wrapper {
           display: flex;
           z-index: 2; 
          }

          .title-card {
              user-select: none;
              background: #222222;
              width: min-content;
              height: max-content;
              font-family: var(--main-font);
              color: white;
              font-size: 1em;
              display: flex;
              flex-direction: column;
              box-shadow: 0px 0px 10px black;
              border-bottom: 5px solid #131313;
              outline: 2px solid #111111; 
              max-height: 100vh;  
              position: relative;
              z-index: 2;
          } 

          .title-card__play {
              display: flex; 
              flex-direction: row; 
          }

          .title-card__title {
              height: 100%;
              display: flex; 
              align-items: center; 
              flex-direction: column;      
              padding-top: 1em; 
              padding-bottom: 1em;             
          }
   
          .title__heading {
              padding: 0; 
              margin: 0;
              border: none; 
              outline: none; 
              text-align: center; 
          }
 
          .title__logo {
              width: 5em;
              height: 5em; 
          }

          .content__play {
            display: flex;
            flex-direction: row;
            width: min-content;
            height: min-content; 
          }
 
          .title-card__content {
            width: 18em;   
            height: min-content;  
            display: flex;
            justify-content: center; 
            align-items: center; 
            flex-direction: column; 
            padding-top: 1em; 
            padding-bottom: 1em;  
            font-family: var(--main-font);
            border-left: 10px solid #222222;
            border-right: 10px solid #222222;
            background: #3C3C3C;
          } 
 
          .play__username {
           font-size: 1em; 
           font-family: inherit;
           outline: none; 
           text-align: center;
           text-decoration: none;
           border: none; 
           border-bottom: 5px solid gray;
          }

          .title-card__socials {
           display: flex;
           flex-direction: row;
           justify-content: center;
           align-items: center;
           padding-left: 10px;
           padding-right: 10px;
           background: #222222;
           padding-top: 1em; 
           padding-bottom: 1em; 
          }
 
          .title-card__socials i {
           color: white; 
           font-size: 1.5em;
           margin-left: 0.4em; 
           margin-right: 0.4em; 
          }
  
          .content__highscore, .content__score {
            background: #222222;
            font-family: inherit; 
            padding: 1em;  
            text-align: center;  
            margin: 0;
            margin-bottom: 0.5em;  
            margin-top: 0.5em; 
           }

           .content__score {
            margin-bottom: 0; 
            display: none; 
           }
        
        .play__loader {
          width: 0.4em; 
          height: 0.4em;
          margin: 0.2em; 
          border-radius: 100%;
          border: 5px solid white;
          border-color: rgba(0,0,0,0);
          border-top-color: white;
          animation: loader-spin 0.3s linear infinite;
          right: 0;
          background-image: none;
          background: none;
          bottom: 0;
        }
 
          .play__button {    
           font-family: inherit;
           background: dodgerblue;
           color: inherit;
           font-size: 2em; 
           border: none;
           display: inline-flex; 
           align-items: center; 
           justify-content: center; 
           border-bottom: 5px solid #003366; 
          }

          .buttons__help {    
           font-family: inherit;
           color: inherit;
           font-size: 1.5em; 
           border: none;
           display: inline-block;
           border: 1px solid white; 
           border-bottom: 5px solid white; 
           background: none; 
          }

          .buttons__settings {    
           font-family: inherit;
           color: inherit;
           font-size: 1.5em; 
           margin-left: 1em; 
           border: none;
           display: inline-block;
           border: 1px solid white; 
           border-bottom: 5px solid white; 
           background: none;  
          }

          #note {
              user-select: none;
              z-index: 3;
              background: #3C3C3C;
              width: 80vmin;
              height: max-content;
              position: relative;
              font-family: var(--main-font);
              color: white;
              font-size: 1em;
              grid-template-columns: 100%;
              grid-template-rows: 2.5em calc(100% - 2.5em);
              display: grid;
              box-shadow: 0px 0px 10px black;
              border-bottom: 5px solid #131313;
              outline: 2px solid #111111; 
              max-height: 100vh;  
          }

          .note__logo {
              width: 5em; 
              height: 5em; 
              display: block;  
              margin: auto; 
          }
          
          .note__content-title {
              margin: 0; 
              padding: 0; 
              display: block; 
              color: white;
              padding-top: 0.5em; 
              padding-bottom: 0.5em; 
          }
          
          .note__image {
              width: 80%;
              margin: 0; 
              padding: 0; 
              display: block;
              margin: auto; 
              aspect-ratio: 1/0.6;
              object-fit: cover; 
              padding-bottom: 0.5em;
          }

          .note__content {
              box-sizing: border-box;
              overflow: scroll;   
              width: 100%;
              height: 100%;
              font-size: 0.8em;
              border: 10px solid #222222;
              padding: 1em;
              padding-top: 2em;
              padding-bottom: 2em;
              text-align: center;  
          }

          .main-inventory__description, .main-inventory__stats, .main-inventory__help, .map__key {
              box-sizing: border-box;
              border: 10px solid #222222;
              grid-area: 2/1/4/2;
              font-size: 0.8em;
              padding: 0.5em;
              display: block;
              overflow: scroll;
              text-align: center;
          }

          .main-inventory__help-reference {
            width: 80%;
            margin: auto;
            text-align: center;
          }

          .main-inventory__help-reference p {
            font-family: inherit;
            font-size: inherit;
            display: inline;
            margin-right: 2em;
          }

          .main-inventory__help-reference p::before {
            content: "";
            width: 0.5em;
            height: 0.5em;
            display: inline-block;
            transform: translateX(-100%);
          }

          .main-inventory__type-tool::before {
           background-color: white;
          }

          .main-inventory__type-shirt::before {
           background-color: #79c9db;
          }

          .main-inventory__type-hat::before {
           background-color: #edff63;
          }

          .main-inventory__type-pants::before {
           background-color: #ffcb63;
          }

          .main-inventory__type-shoes::before {
           background-color: #be7ad6;
          }

          .main-inventory__stats {
              display: none;
          }

          .main-inventory__title, .map__title, .note__title {
              background: #222222;
              width: 100%;
              height: 100%;
              margin: 0;
              grid-area: 1/1/2/3;
              line-height: 100%;
              font-size: 1.5em;
              box-sizing: border-box;
              padding: 0.3em;
              padding-left: 10px;
              padding-right: 10px;
          }

          .store__title {
              background: #222222;
              margin: 0;
              grid-area: 1/1/2/3;
              width: 100%; 
              height: 100%;
              line-height: 100%;
              font-size: 1.5em;
              box-sizing: border-box;
              padding: 0.3em;
              padding-left: 10px;
              padding-right: 10px;
          }

          .store__checkout h2:nth-child(2) {
            font-size: 0.9em;
          }

          .main-inventory__items {
              box-sizing: border-box;   
              width: 100%;
              height: 100%;
              font-size: 0.8em;
              border: 10px solid #222222;
              border-left: none;
              grid-area: 2/2/3/2;
              padding: 0.5em;
              border-bottom: none;
          }

          .main-inventory__controls {
            grid-area: 3/2/3/3;
            width: 100%;
            height: 100%;
            border-bottom: 10px solid #222222;
            border-right: 10px solid #222222;
            box-sizing: border-box;
          }

          #console, #settings {
              user-select: auto;
              z-index: 2;
              background: #3C3C3C;
              width: 80%;
              height: 90%;
              position: absolute;
              left: 10%;
              top: calc(5% - 2.5px);
              font-family: var(--main-font);
              color: white;
              display: none;
              font-size: 1em;
              grid-template-columns: 100%;
              grid-template-rows: 2.5em calc(100% - 5.5em) 3em;
              box-shadow: 0px 0px 10px black;
              border-bottom: 5px solid #131313;
              outline: 2px solid #111111;    
          }

          .console__title, .settings__title {
              background: #222222;
              width: 100%;
              height: 100%;
              margin: 0;
              grid-area: 1/1/2/1;
              line-height: 100%;
              font-size: 1.5em;
              box-sizing: border-box;
              padding: 0.3em;
              padding-left: 10px;
              padding-right: 10px;
          }
          
          .console__messages, .settings__settings-container {
              box-sizing: border-box;
              overflow: scroll;   
              width: 100%;
              height: 100%;
              font-size: 0.8em;
              border: 10px solid #222222;
              grid-area: 2/1/3/1;
              padding: 0.5em;
              border-bottom: none;
          }

          #settings {
              grid-template-rows: 2.5em calc(100% - 2.5em);
          }

          .settings__settings-container {
              border: 10px solid #222222; 
          }

          .settings-container__setting, .settings-container__control, .settings-container__credit {
              width: max-content; 
              display: flex; 
              flex-direction: row; 
              background: rgba(0, 0, 0, 0.2);
              padding-left: 1em; 
              padding-right: 1em;  
              box-sizing: border-box;
              align-items: center; 
              width: 100%; 
              height: min-content;  
              margin-bottom: 0.5em;
          }

          .settings-container__control, .settings-container__credit {
              justify-content: center; 
          }
 
          .setting__name {
              margin-right: 2em; 
          }

          .setting__input {
              font-family: var(--main-font);
              padding: 0.2em;
              background: rgba(0, 0, 0, 0.2);
              color: white;
              border: none; 
              margin-right: 1em; 
          }

          .setting__detail {
              font-size: 0.9em;
          }

          .store__items {
              box-sizing: border-box;
              overflow: scroll;   
              font-size: 0.8em;
              border: 10px solid #222222;
              border-right: none;
              grid-area: 2/1/3/2;
              width: 100%; 
              height: 100%;
              padding: 0.5em;
           }

          .store__checkout {
              box-sizing: border-box;
              overflow: scroll;   
              font-size: 0.8em;
              border: 10px solid #222222;
              grid-area: 2/2/3/3;
              width: 100%; 
              height: 100%;
              padding: 0.5em;
          }

          .store__item {
           width: 100%; 
           height: 5em;
           box-sizing: border-box;
           background: rgba(0,0,0,0.2);
           padding: 0.8em;
           margin-bottom: 0.5em;
           white-space: nowrap;
          } 

          .store__item * {
           display: inline-block;
           vertical-align: middle;
          }

          .store__item::after {
           content: "";
           display: inline-block; 
           background: #777777;
           width: 1.5em; 
           height: 1.5em;
           float: right;
           transform: translateY(0.9em);
           clip-path: polygon(50% 0%, 50% 100%, 100% 50%, 50% 0%);
          }

          .item__icon {
           height: 100%;
           background: #3C3C3C;
          }
   
          .item__name {
           font-weight: bold;
           margin-left: 1em;
           width: 4em;
          }

          .checkout__info-box {
           background: rgba(0,0,0,0.2);
           box-sizing: border-box; 
           padding: 1em;
          }

          .info-box__icon {
           width: 4em; 
           height: 4em; 
           display: inline-block;
           margin: 0;
           margin-right: 2em;
           background: #777777;
          }

          .info-box__item {
           width: min-content;
           height: 4em;
           white-space: nowrap;
           display: inline-block;
           margin: 0;
           vertical-align: top;  
           line-height: 2em;
          }

          .info-box__item-info {
           display: block; 
           width: 100%;
           height: 4em;
           text-align: center;
           margin-bottom: 1em;
           background: #3C3C3C;
           padding-top: 1em;
           padding-bottom: 1em;
          }

          .info-box__item * {
           margin: 0;
           text-align: center;
          }
 
          .info-box__description {
           text-align: center;
           border-top: 1px solid #888888; 
           padding-top: 0.5em;
           margin-top: 0.5em;
          }

          .checkout__controls {
           display: flex;
           width: 100%; 
           height: 5em;
           background: rgba(0,0,0,0.2);
           box-sizing: border-box; 
           padding: 0.5em;
           align-items: center;
           justify-content: space-around;
          }

          #item-quantity {
           width: 4em;
          }

          .controls__buy {
           display: inline-block;
           text-align: left;
          }

          #item-purchase {
           font-family: inherit;
           background: dodgerblue;
           color: inherit;
           font-size: 1rem;
           border: none;
           display: inline-block;
           border-bottom: 5px solid #003366; 
          }

          .checkout__balance {
           margin-bottom: 0.5em;
           padding: 0;
           width: 100%;
           height: 2em;
           white-space: nowrap;
          }

          .checkout__balance p {
           background: rgba(0,0,0,0.2);
           display: inline-block;
           width: calc(50% - 0.25em);
           height: 100%;
           padding: 0;
           margin: 0;
           vertical-align: middle;
           box-sizing: border-box; 
           padding: 0.3em;
           border: none;
          }
 
          .checkout__balance p:nth-child(2) {
           margin-left: 0.5em;
          }

          .checkout__balance mark {
           background: none; 
           color: white;
           float: right;
          }
 
          .console__compose {
              grid-area: 3/1/3/1;
              background: #222222;
              width: 100%;
              height: 100%;
              padding: 1em;
              padding-left: 10px;
              padding-right: 10px;
              padding-bottom: 10px;
              box-sizing: border-box;
              justify-content: space-between;
              display: flex;
              align-items: center;
              flex-wrap: nowrap;
          }

          #console-send {
            margin-right: 0;
            color: white;
            background-color: gray; 
            border-color: #444444; 
          }
    
          #console-input {
              width: 80%;
              height: 90%;
              resize: none;
              position: relative;
              font-family: var(--main-font);
              border: none;
              background: black;
              color: white;
              display: block;
          }

          .console__message--system strong {
            font-size: 1.2em; 
            color: dodgerblue;
          }

          .console__message--user strong {
            font-size: 1.2em; 
            color: lime;
          }

          table {
           width: 100%;
          }

          td, th {
            background: rgba(0,0,0,0.2);
            padding: 0.4em;
          }

          th {
            background: rgba(0,0,0,0.3);
          } 

          table h3 {
            margin: 0;
          }

        .onscreen-stats__stats {
          position: absolute;
          display: block; 
          bottom: 0; 
          left: 0;
          margin: 1em;
          margin-bottom: 3em; 
          color: white;
          font-family: var(--main-font);
          font-size: 0.8em;  
          background: rgba(0,0,0,0.5);
          padding: 0.2em; 
          width: 12em;
          pointer-events: none; 
          user-select: none; 
        }

        .onscreen-stats__stats th, tr {
          width: 12em;
        } 

          @media screen and (orientation: portrait) {
            #main-inventory {
              grid-template-columns: 100%;
              grid-template-rows: 2.5em calc(60% - 6em) 40% 3.5em;
            }

             #map {
              grid-template-columns: 100%;
              grid-template-rows: 2.5em calc(50% - 1.25em) calc(50% - 1.25em);
             } 
  
            .map__canvas {
             grid-area: 3/1/4/2;
             width: 100%;
             height: 100%;
             border-left: 10px solid #222222;
            }

            .map__key {
             grid-area: 2/1/3/2;
             border-bottom: none;
            }

            .map__coordinates {
             grid-area: 2/1/3/2;
             transform: translate(calc(-100% + 1em),100%);
            }

            .map__zoom {
             grid-area: 3/1/4/2;
            }

            .map__title {
             grid-area: 1/1/2/2;
            }
      
            .main-inventory__description, .main-inventory__stats, .main-inventory__help {
             grid-area: 2/1/2/2;
            }

            .main-inventory__title {
             grid-area: 1/1/2/1;
            }

            .main-inventory__items {
             grid-area: 3/1/3/1;
             border-left: 10px solid #222222;
             border-top: none;
            }

            .main-inventory__controls {
              grid-area: 4/1/4/1;
              border-left: 10px solid #222222;
            }
  
            .controls-container__buttons {
              width: 3em;
              height: auto;
             }

            .controls-container__button {
              display: block;
            }

            .controls-container__inv, .controls-container__info-boxes {
              left: 1em;
            }
          
            .controls-container__money { 
              left: 0;
              margin: 0;
              top: calc(5.4em + 4px + 6em);
            }
  
            #store {
              grid-template-rows: 2.5em calc(50% - 1.25em) calc(50% - 1.25em);
              grid-template-columns: 100%;
            }

            .store__items {
              grid-area: 3/1/4/2;
              border-right: 10px solid #222222;
            }
       
            .store__checkout {
              grid-area: 2/1/3/2;
              border-bottom: none;
            }
          }

          .main-inventory__controls-help {
           font-family: inherit;
           color: white;
           background: none;
           border: 1px solid white;
           font-size: 1.2em;
           width: 1.2em;
           height: 1.2em;
           position: absolute;
           transform: translate(0.6em, -1.8em);
          }

          .main-inventory__help {
           display: none;
          } 

          .main-inventory__view-stats {
            font-family: inherit;
            font-size: 0.7em;
            margin-right: 1em;
            background: none;
            float: right;
            color: inherit;
            border: 1px solid white;
            border-bottom: 4px solid white;
          }
                    
          .main-inventory__close, #console-close, #map-close, #store-close, #note-close, #settings-close {
            font-family: inherit;
            font-size: 0.7em;
            background: var(--light-red);
            float: right;
            color: inherit;
            border: none;
            border-bottom: 5px solid var(--dark-red);
          }
     
         .main-inventory__buttons {
            display: flex;
            align-items: center;
            justify-content: right;
            width: 100%;
            height: 100%;
         }

          .styled-btn {
            font-family: inherit;
            font-size: 1.2em;
            background: var(--light-red);
            color: inherit;
            border: none;
            margin-right: 1em;
            border-bottom: 5px solid #c40d00;
          }

          .main-inventory__controls-equip {
            background-color: #74f274;  
            border-color: var(--dark-green); 
           }

           .main-inventory__controls-switch {
            color: black;
            background-color: white; 
            border-color: gray; 
           }
          
          .main-inventory__items-container {
              width: 100%;
              height: 80%;
              display: grid;
              max-height: 50vh;
              justify-content: center;
              grid-template-columns: repeat(5, 20%);
              grid-auto-rows: min-content min-content min-content;
              margin-top: 0.5em;
              overflow-y: scroll;
              counter-set: item-index 0;
          }
          
          .main-inventory__item {
              box-sizing: border-box;
              background: rgba(1,1,1,0.2);
              aspect-ratio: 1/1;
              background-repeat: no-repeat;
              background-size: contain;
              margin: 5%;
          }
                    
          .main-inventory__items h2, .main-inventory__description h2, .main-inventory__stats h2, .main-inventory__help h2, .map__key h2, .store__items h2, .store__checkout h2 {
              text-align: center;
              width: auto;
              background: rgba(1,1,1,0.3);
              margin-top: 0;
          }
          
          .main-inventory__items h2 {
              grid-area: 1/1/2/6;
          }
          
          .main-inventory__description-content, .main-inventory__stats-content, .main-inventory__help-content {
              text-align: center;
          }
          
          .main-inventory__item:nth-child(-n+5) {
              outline: 1px solid white;
          }

          .main-inventory__item::after {
              color: black;
              counter-increment: item-index;
              content: counter(item-index);
              width: 10px;
              height: 10px;
              background: none;
              margin-left: 5px;
          }

          .main-inventory__item:nth-child(-n+5)::after {
              color: white;
          }
                    
          .main-inventory__markers {
              box-sizing: border-box;
              grid-area: 3/1/4/3;
          }
                   
          #game-stats {
              color: black;
              font-family: var(--main-font);
              font-size: 0.8em;
              position: absolute;
              left: 0;
              bottom: 0;
              margin: 1rem;
              border-radius: 2px;
              padding: 0.2em;
              user-select: none; 
          }
   
          .onscreen-button {
            background: rgba(0,0,0,0.5);
            position: absolute;
          }

          .map__buttons {
            width: 100%; 
            height: 3em; 
            display: flex; 
            justify-content: space-around;
            align-items: center; 
          }
 
          .map__buttons button {
            background: none;
            border-color: white;
            border-top: 1px solid white; 
            border-left: 1px solid white; 
            border-right: 1px solid white;
            width: 40%;
            margin: 0;
          }
 
          #goto {
            opacity: 0.5;
          }


          @media only screen and (min-width: 900px) and (orientation: portrait) {
           #main-inventory, #map, #store, #console, #settings {
             width: 30rem;
             height: 40rem;
             position: absolute;
             left: calc(50% - 15rem);
             top: calc(50% - 20rem);
           } 

           #note {
             width: 25rem;
           } 
          }

          @media only screen and (min-width: 900px) and (orientation: landscape) {
           #main-inventory, #map, #store, #console, #settings {
             width: 40rem;
             height: 25rem;
             position: absolute;
             left: calc(50% - 20rem);
             top: calc(50% - 12.5rem);
           } 

           #note {
             width: 25rem;
           } 

           .controls-container__inv {
            top: calc(100% - 5em);
            width: 20em;
            height: 4em;
            left: calc(50% - 11em);
            grid-template-columns: repeat(5, 4em);
            grid-gap: 0.5em;
           }
 
           .controls-container__info-boxes {
              position: absolute;
              top: calc(100% - 7.5em);
              left: calc(50% - 11em);
              display: flex;
              flex-direction: row;
              user-select: none;
              justify-content: flex-end;
              width: 22em;
              height: 2em;
           }

           #mapInfo {
              width: 25vmin;
           }
          }

          @media only screen and (min-width: 1500px) {
            .title-card, #console, #store, #note, #map, #settings, #main-inventory {
             transform: scale(1.5); 
            }
          }

          @media only screen and (max-height: 480px) and (orientation: landscape) {
            .title-card {
              flex-direction: row;
              align-items: center;  
            } 

            .title-card__content {
              padding-left: 1em; 
              padding-right: 1em; 
              background: #3C3C3C; 
              border: none;
            }

            .title-card__title {
              align-items: center; 
              height: 100%;
              padding-left: 10px; 
              padding-right: 10px; 
            }
 
            .title-card__socials {
              flex-direction: column;
            }

            .title-card__socials i {
             margin: 0; 
             margin-top: 0.4em; 
             margin-bottom: 0.4em; 
            }

            .title-card__socials p {
             display: none; 
            }
          }
