html,body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        
        :root {
            --main-font: 'Geo', sans-serif;
            --light-green: #74f274; 
            --dark-green: #0fa30f;
            --light-red: #f27474;
            --dark-red: #a30f0f;
        }

        #gameArea {
            width: 100%;
            height: 100%;
            background: white;
            z-index: 0;
        }

       #mapDisplay {
         display: block; 
         position: absolute;
         width: 25vmin;
         height: 25vmin;
         pointer-events: none;
         left: 0;
         top: 3.4em;
         margin: 1em;
         border-radius: 2px;
         background: black;
         opacity: 0.7;
       }

        .texture {
            display: none;
        }
        
        .loading-img {
          display: block;
          position: relative;
          width: 10vmax;
          height: 10vmax;
          margin: auto;
          transform: scale(1.2);
          top: calc(40%);
          animation: pulse 1s infinite;
          border-radius: 3px;
          border: 3px solid white;
        }
        
        .loading-title {
            color: white;
            text-align: center;
            font-size: 240%;
            position: relative;
            top: 60vh;
            margin: 0;
            font-family: var(--main-font);
        }
        
          #loading-screen {
            width: 100%;
            height: 100%;
            z-index: 3;
            background: #3C3C3C;
            background-size: cover;
          }
          
          .loader-filter {
              width: 100%;
              height: 100%;
              background: rgba(0,0,0,0.5);
          }
        
        #loader {
          width: 2vmax;
          height: 2vmax;
          margin: 20px;
          border-radius: 100%;
          border: 5px solid white;
          border-color: rgba(0,0,0,0);
          border-top-color: white;
          animation: loader-spin 0.3s linear infinite;
          position: absolute;
          right: 0;
          background-image: none;
          background: none;
          bottom: 0;
        }
        
        @keyframes pulse {
            0% {
                transform: scale(1.2);
            }
            50% {
                transform: scale(1.5);
            }
            100% {
                transform: scale(1.2);
            }
        }
        
        @keyframes fade-in {
            0% {
                opacity: 0.0;
            }
            
            50% {
               opacity: 0.0;    
            }
            
            100%{
                opacity: 1.0;
            }
        }
        
        @keyframes loader-spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
          
          /* style for onscreen controls and content */
          
          #controls-container {
              position: absolute;
              width: 100vw;
              height: 100vh;
              display: block;
              z-index: 2;
              top: 0;
              left: 0;
              padding: 1em;
              box-sizing: border-box;
          }
          
          .controls-container__inv {
            position: absolute;
            top: calc((100% - 7vmax) - 1em);
            width: 35vmax;
            height: 7vmax;
            left: calc((50% - 17.5vmax) - 4vmin);
            display: grid;
            grid-template-columns: 20% 20% 20% 20% 20%;
            grid-template-rows: 100%;
            grid-gap: 2vmin;
            font-family: var(--main-font);
            counter-set: active-item 0;
          }
          
          .controls-container__item {
            width: auto;
            height: auto;
            background: rgba(1,1,1,0.3);
            border-bottom: 5px solid rgba(0,0,0,0.5);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom right; 
          }
          
          .controls-container__item::after {
              counter-increment: active-item;
              content: counter(active-item);
              width: 10px;
              height: 10px;
              background: none;
              margin-left: 5px;
          }

          .controls-container__buttons {
              float: right;
              width: auto;
              height: 2.8rem;
              position: absolute;
              top: 0;
              right: 0;
              margin: 1em;
          }

          .controls-container__button { 
             width: 2.8em;
             height: 2.8em;
             display: inline-block;
             opacity: 0.9;
             padding: 0;
             border: none;
          }
 
          .controls-container__button:active {
             opacity: 1;
          }
                   
          .controls-container__stats {
              background: rgba(1,1,1,0.5);
              user-select: none;
              display: block;
              width: 30vmax;
              height: 2.4em;
              white-space: nowrap;
              position: absolute;
              margin: 1em;
              left: 0;
              top: 0;
          }

          .controls-container__info-boxes {
              position: absolute;
              min-width: 30vh;
              left: calc(30vmax + 1em);
              top: 0;
              margin: 1em;
              display: flex;
              flex-direction: row;
              user-select: none;
          }

          .info-box {
              background: rgba(1,1,1,0.5);
              display: none;
              height: 2.4rem;
              margin-right: 0.3em;
              width: min-content;
              white-space: nowrap;
              border-radius: 2px;
              padding-right: 0.5em;
              color: white;
              align-items: center;
              font-family: var(--main-font);
          }

          .info-box p {
              display: inline-block;
              margin: auto;
              float: left;
          }
 
          #console-button, #action-button {
            position: absolute;
            background: rgba(1,1,1,0.5);
            padding: 0;
            margin: 1em;
            width: 2.5em;
            height: 2.5em;
            border: none;
            border-radius: 2px;
            bottom: 0;
            right: 0;
          }

          #action-button {
            bottom: initial;
            top: 20%;
            width: 3em; 
            height: 3em;
            border-radius: 100%;
            border: 3px solid rgba(1,1,1,0.6); 
          }
 
          #console-button:active {
           background: rgba(1,1,1,0.6);  
          } 

          #console-button img, #action-button img {
            opacity: 0.7;
            width: 100%;
            height: 100%;
            transform: scale(0.8);
          }
          
          .controls-container__stats img {
              height: 100%;
              display: inline-block;
          }
          
          .controls-container__health {
              display: inline-flex;
              height: 100%;
              width: calc(100% - 2.4em);
              border-bottom: 5px solid rgba(1,1,1,0.5);
              padding-right: 0.5em;
              align-items: center;
              box-sizing: border-box;
              vertical-align: top;
          }
          
          .controls-container__healthbar {
              display: block;
              width: 50%;
              height: 30%;
              background: rgba(0,0,0,0.5);
          }
          
          .controls-container__healthbar div {
              height: 100%;
              width: 100%;
              background: #74f274; 
          }
          
          .icon {
              height: 100%;
              display: inline-block;
              opacity: 0.7;
              transform: scale(0.5);
          } 
          
          #hunger, #thirst {
              color: white;
              font-family: var(--main-font);
          }

          #map {
              user-select: none;
              width: 80%;
              height: 90%;
              position: absolute;
              background: none;
              left: 10%;
              top: 5%;
              font-family: var(--main-font);
              color: white;
              font-size: 1em;
              grid-template-columns: 50% 50%;
              grid-template-rows: 2.5em calc(100% - 2.5em);
              display: none;
              box-shadow: 0px 0px 10px black;
          }
 
          .map__key {
            background: #3C3C3C;
          }

          .map__keys td {
            text-align: left !important; 
          }
    
          .map__canvas {
            box-sizing: border-box;
            border: 10px solid #222222;
            border-left: none;
            width: 100%;
            height: 100%;
            grid-area: 2/2/4/3;
            font-size: 0.8em;
            display: block;
            overflow: hidden;
            text-align: center;
          }

          .map__canvas::before {
            content: "";
            display: block;
            position: relative;
            width: 100%;
            height: 50%;
            opacity: 0.5;
            pointer-events: none;
            border-bottom: 1px solid white;
            z-index: 1;
            transform: translateY(-1px);
          }

          .map__canvas::after {
            content: "";
            display: block;
            position: relative;
            width: 50%;
            height: 100%;
            pointer-events: none;
            opacity: 0.5;
            border-right: 1px solid white;
            transform: translate(0,calc(-150% - 4px));
          }

          .map__coordinates {
            grid-area: 1/2/2/3;
            position: relative;
            height: 1em;
            left: 100%;
            top: 100%;
            white-space: nowrap;
            color: white;
            font-family: var(--main-font);
            filter: drop-shadow(0 0 1px black);
            font-size: 0.8em;
            z-index: 1;
            transform: translate(calc(-100% + 0.5em),100%);
          }

          .map__zoom {
            grid-area: 2/2/3/3;
            z-index: 1;
            width: 100%;
            height: 1em;
            position: relative;
            left: calc(100% - 2em);
            filter: drop-shadow(0 0 1px black);
          }

          .map__zoom p {
            color: white;
            width: 1em;
            height: 1em;
            text-align: center;
            border: 1px solid white; 
          }

          .map__key-info {
            padding: 0.5em !important;
            padding-top: 0.2em !important;
            padding-bottom: 0.2em !important;
          }

          .map__key-info p {
            display: inline-block;
          }

          .map__keys tr p::before {
            content: "";
            width: 1em;
            height: 1em;
            background: white;
            display: inline-block;
            margin-right: 0.5em;
            transform: translate(0,0.15em);
          }
 
          .map__keys tr:nth-child(2) p::before {
            background: rgb(44, 143, 219);
          }

          .map__keys tr:nth-child(3) p::before {
            background: rgb(219, 44, 44); 
          }
          
          .map__keys tr:nth-child(4) p::before {
            background: rgb(44, 219, 53);   
          }

          .map__keys tr:nth-child(5) p::before {
            background: rgb(204, 44, 219);   
          }
          
          .map__keys tr:nth-child(6) p::before {
            background: rgb(204,204,204);   
          }
           
          .map__keys tr:nth-child(7) p::before {
            background: white;   
          }          
          
          .map__keys tr:nth-child(8) p::before {
            background: rgb(102,102,102);   
          }          

          #set-waypoint {
            font-family: inherit;
            font-size: 0.7em;
            margin-right: 1em;
            background: none;
            float: right;
            color: inherit;
            border: 1px solid white;
            border-bottom: 4px solid white;
          }

          #interactive-map {
            background: rgba(1,1,1,0.7);
            width: 100%;
            height: 100%;
            z-index: 1;
            transform: translate(0,calc(-50% - 1px)) scale(1.1);
          } 
 
          #main-inventory {
              user-select: none;
              z-index: 1;
              background: #3C3C3C;
              width: 80%;
              height: 90%;
              position: absolute;
              left: 10%;
              top: 5%;
              font-family: var(--main-font);
              color: white;
              font-size: 1em;
              grid-template-columns: 40% 60%;
              grid-template-rows: 2.5em calc(100% - 6em) 3.5em;
              display: none;
              box-shadow: 0px 0px 10px black;
          }

          .main-inventory__description, .main-inventory__stats, .main-inventory__help, .map__key {
              box-sizing: border-box;
              border: 10px solid #222222;
              grid-area: 2/1/4/2;
              font-size: 0.8em;
              padding: 0.5em;
              display: block;
              overflow: scroll;
              text-align: center;
          }

          .main-inventory__help-reference {
            width: 80%;
            margin: auto;
            text-align: center;
          }

          .main-inventory__help-reference p {
            font-family: inherit;
            font-size: inherit;
            display: inline;
            margin-right: 2em;
          }

          .main-inventory__help-reference p::before {
            content: "";
            width: 0.5em;
            height: 0.5em;
            display: inline-block;
            transform: translateX(-100%);
          }

          .main-inventory__type-tool::before {
           background-color: white;
          }

          .main-inventory__type-shirt::before {
           background-color: #79c9db;
          }

          .main-inventory__type-hat::before {
           background-color: #edff63;
          }

          .main-inventory__type-pants::before {
           background-color: #ffcb63;
          }

          .main-inventory__type-shoes::before {
           background-color: #be7ad6;
          }

          .main-inventory__stats {
              display: none;
          }

          .main-inventory__title, .map__title {
              background: #222222;
              width: 100%;
              height: 100%;
              margin: 0;
              grid-area: 1/1/2/3;
              line-height: 100%;
              font-size: 1.5em;
              box-sizing: border-box;
              padding: 0.3em;
              padding-left: 10px;
              padding-right: 10px;
          }

          .main-inventory__items {
              box-sizing: border-box;   
              width: 100%;
              height: 100%;
              font-size: 0.8em;
              border: 10px solid #222222;
              border-left: none;
              grid-area: 2/2/3/2;
              padding: 0.5em;
              border-bottom: none;
          }

          .main-inventory__controls {
            grid-area: 3/2/3/3;
            width: 100%;
            height: 100%;
            border-bottom: 10px solid #222222;
            border-right: 10px solid #222222;
            box-sizing: border-box;
          }

          #console {
              user-select: none;
              z-index: 1;
              background: #3C3C3C;
              width: 80%;
              height: 90%;
              position: absolute;
              left: 10%;
              top: 5%;
              font-family: var(--main-font);
              color: white;
              display: none;
              font-size: 1em;
              grid-template-columns: 100%;
              grid-template-rows: 2.5em calc(100% - 5.5em) 3em;
              box-shadow: 0px 0px 10px black;
          }

          .console__title {
              background: #222222;
              width: 100%;
              height: 100%;
              margin: 0;
              grid-area: 1/1/2/1;
              line-height: 100%;
              font-size: 1.5em;
              box-sizing: border-box;
              padding: 0.3em;
              padding-left: 10px;
              padding-right: 10px;
          }

          .console__messages {
              box-sizing: border-box;
              overflow: scroll;   
              width: 100%;
              height: 100%;
              font-size: 0.8em;
              border: 10px solid #222222;
              grid-area: 2/1/3/1;
              padding: 0.5em;
              border-bottom: none;
          }
   
          .console__compose {
              grid-area: 3/1/3/1;
              background: #222222;
              width: 100%;
              height: 100%;
              padding: 1em;
              padding-left: 10px;
              padding-right: 10px;
              padding-bottom: 10px;
              box-sizing: border-box;
              justify-content: space-between;
              display: flex;
              align-items: center;
              flex-wrap: nowrap;
          }

          #console-send {
            margin-right: 0;
            color: white;
            background-color: gray; 
            border-color: #444444; 
          }
    
          #console-input {
              width: 80%;
              height: 90%;
              resize: none;
              position: relative;
              font-family: var(--main-font);
              border: none;
              background: black;
              color: white;
              display: block;
          }

          .console__message--system strong {
            font-size: 1.2em; 
            color: dodgerblue;
          }

          .console__message--user strong {
            font-size: 1.2em; 
            color: lime;
          }

          table {
           width: 100%;
          }

          td, th {
            background: rgba(0,0,0,0.2);
            padding: 0.4em;
          }

          th {
            background: rgba(0,0,0,0.3);
          } 

          table h3 {
            margin: 0;
          }

          @media screen and (orientation: portrait) {
            #main-inventory {
              grid-template-columns: 100%;
              grid-template-rows: 2.5em calc(60% - 6em) 40% 3.5em;
            }

             #map {
              grid-template-columns: 100%;
              grid-template-rows: 2.5em calc(50% - 1.25em) calc(50% - 1.25em);
             } 
  
            .map__canvas {
             grid-area: 3/1/4/2;
             width: 100%;
             height: 100%;
             border-left: 10px solid #222222;
            }

            .map__key {
             grid-area: 2/1/3/2;
             border-bottom: none;
            }

            .map__coordinates {
             grid-area: 2/1/3/2;
             transform: translate(calc(-100% + 1em),100%);
            }

            .map__zoom {
             grid-area: 3/1/4/2;
            }

            .map__title {
             grid-area: 1/1/2/2;
            }
      
            .main-inventory__description, .main-inventory__stats, .main-inventory__help {
             grid-area: 2/1/2/2;
            }

            .main-inventory__title {
             grid-area: 1/1/2/1;
            }

            .main-inventory__items {
             grid-area: 3/1/3/1;
             border-left: 10px solid #222222;
             border-top: none;
            }

            .main-inventory__controls {
              grid-area: 4/1/4/1;
              border-left: 10px solid #222222;
            }
  
            .controls-container__buttons {
              width: 3em;
              height: auto;
             }

            .controls-container__button {
              display: block;
            }

            .controls-container__info-boxes {
              left: 0;
              top: calc(25vmin + 4.4em);
              flex-direction: column;
            }

            .info-box {
              margin-bottom: 0.3em;
              margin-right: 0;
            }

            .controls-container__inv {
              left: 1em;
            }
          }

          .main-inventory__controls-help {
           font-family: inherit;
           color: white;
           background: none;
           border: 1px solid white;
           font-size: 1.2em;
           width: 1.2em;
           height: 1.2em;
           position: absolute;
           transform: translate(0.6em, -1.8em);
          }

          .main-inventory__help {
           display: none;
          } 

          .main-inventory__view-stats {
            font-family: inherit;
            font-size: 0.7em;
            margin-right: 1em;
            background: none;
            float: right;
            color: inherit;
            border: 1px solid white;
            border-bottom: 4px solid white;
          }
                    
          .main-inventory__close, #console-close, #map-close {
            font-family: inherit;
            font-size: 0.7em;
            background: var(--light-red);
            float: right;
            color: inherit;
            border: none;
            border-bottom: 5px solid var(--dark-red);
          }
     
         .main-inventory__buttons {
            display: flex;
            align-items: center;
            justify-content: right;
            width: 100%;
            height: 100%;
            opacity: 0.5;
         }

          .styled__btn {
            font-family: inherit;
            font-size: 1.2em;
            background: var(--light-red);
            color: inherit;
            border: none;
            margin-right: 1em;
            border-bottom: 5px solid #c40d00;
          }

          .main-inventory__controls-equip {
            background-color: #74f274;  
            border-color: var(--dark-green); 
           }

           .main-inventory__controls-switch {
            color: black;
            background-color: white; 
            border-color: gray; 
           }
          
          .main-inventory__items-container {
              width: 100%;
              height: 80%;
              display: grid;
              max-height: 50vh;
              justify-content: center;
              grid-template-columns: repeat(5, 20%);
              grid-auto-rows: auto;
              margin-top: 0.5em;
              overflow-y: scroll;
              counter-set: item-index 0;
          }
          
          .main-inventory__item {
              box-sizing: border-box;
              background: rgba(1,1,1,0.2);
              aspect-ratio: 1/1;
              background-repeat: no-repeat;
              background-size: contain;
              margin: 5%;
          }
                    
          .main-inventory__items h2, .main-inventory__description h2, .main-inventory__stats h2, .main-inventory__help h2, .map__key h2 {
              text-align: center;
              width: auto;
              background: rgba(1,1,1,0.3);
              margin-top: 0;
          }
          
          .main-inventory__items h2 {
              grid-area: 1/1/2/6;
          }
          
          .main-inventory__description-content, .main-inventory__stats-content, .main-inventory__help-content {
              text-align: center;
          }
          
          .main-inventory__item:nth-child(-n+5) {
              outline: 1px solid white;
          }

          .main-inventory__item::after {
              color: black;
              counter-increment: item-index;
              content: counter(item-index);
              width: 10px;
              height: 10px;
              background: none;
              margin-left: 5px;
          }

          .main-inventory__item:nth-child(-n+5)::after {
              color: white;
          }
                    
          .main-inventory__markers {
              box-sizing: border-box;
              grid-area: 3/1/4/3;
          }
                   
          #game-stats {
              color: black;
              font-family: var(--main-font);
              font-size: 0.8em;
              position: absolute;
              left: 0;
              bottom: 0;
              margin: 1rem;
              border-radius: 2px;
              padding: 0.2em;
          }
   
          .onscreen-button {
            background: rgba(0,0,0,0.5);
            position: absolute;
          }
