html,body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        
        :root {
            --main-font: 'Geo', sans-serif;
            --light-green: #baffa1;   
            --light-red: #ff928a;
            --main-color: #aaff96;
        }

        canvas {
            width: 100%;
            height: 100%;
            background: white;
            z-index: 0;
        }

        .texture {
            display: none;
        }
        
        .loading-img {
          display: block;
          position: relative;
          width: 10vmax;
          height: 10vmax;
          margin: auto;
          transform: scale(1.2);
          top: calc(40%);
          animation: pulse 1s infinite;
          border-radius: 3px;
          border: 3px solid white;
        }
        
        .loading-title {
            color: white;
            text-align: center;
            font-size: 240%;
            position: relative;
            top: 60vh;
            margin: 0;
            font-family: var(--main-font);
        }
        
          #loading-screen {
            width: 100%;
            height: 100%;
            z-index: 3;
            background: #3C3C3C;
            background-size: cover;
          }
          
          .loader-filter {
              width: 100%;
              height: 100%;
              background: rgba(0,0,0,0.5);
          }
        
        #loader {
          width: 2vmax;
          height: 2vmax;
          margin: 20px;
          border-radius: 100%;
          border: 5px solid white;
          border-color: rgba(0,0,0,0);
          border-top-color: white;
          animation: loader-spin 0.3s linear infinite;
          position: absolute;
          right: 0;
          background-image: none;
          background: none;
          bottom: 0;
        }
        
        @keyframes pulse {
            0% {
                transform: scale(1.2);
            }
            50% {
                transform: scale(1.5);
            }
            100% {
                transform: scale(1.2);
            }
        }
        
        @keyframes fade-in {
            0% {
                opacity: 0.0;
            }
            
            50% {
               opacity: 0.0;    
            }
            
            100%{
                opacity: 1.0;
            }
        }
        
        @keyframes loader-spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }

        textarea {
            position: absolute;
            background: none;
            top: 0;
            left: 0;
            border: none;
            outline: none;
            display: none;
            z-index: 1;
            width: 25%;
            height: 92%;
            color: black;
        }
          
          /* style for onscreen controls and content */
          
          #controls-container {
              position: absolute;
              width: 100vw;
              height: 100vh;
              display: block;
              z-index: 2;
              top: 0;
              left: 0;
              padding: 1em;
              box-sizing: border-box;
          }
          
          .controls-container__inv {
            position: absolute;
            top: calc((100% - 7vmax) - 1em);
            width: 35vmax;
            height: 7vmax;
            left: calc((50% - 17.5vmax) - 4vmin);
            display: grid;
            grid-template-columns: 20% 20% 20% 20% 20%;
            grid-template-rows: 100%;
            grid-gap: 2vmin;
            font-family: var(--main-font);
            counter-set: active-item 0;
          }
          
          .controls-container__item {
            width: auto;
            height: auto;
            background: rgba(1,1,1,0.3);
            border-bottom: 5px solid rgba(0,0,0,0.5);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom right; 
          }
          
          .controls-container__item::after {
              counter-increment: active-item;
              content: counter(active-item);
              width: 10px;
              height: 10px;
              background: none;
              margin-left: 5px;
          }

          .controls-container__buttons {
              float: right;
              width: auto;
              height: 2.8rem;
              position: absolute;
              top: 0;
              right: 0;
              margin: 1em;
          }

          .controls-container__button { 
             width: 2.8em;
             height: 2.8em;
             display: inline-block;
             opacity: 0.9;
             padding: 0;
             border: none;
             background: none;
          }

          .controls-container__button > img {
             width: 2.8rem;
             height: 2.8rem;
          }
 
          .controls-container__button:active {
             opacity: 1;
          }
                   
          .controls-container__stats {
              background: rgba(1,1,1,0.5);
              display: block;
              width: 35vmax;
              max-width: 70vmin;
              height: 2.4em;
              white-space: nowrap;
              position: absolute;
              margin: 1em;
              left: 0;
              top: 0;
          }
          
          .controls-container__stats img {
              height: 100%;
              display: inline-block;
          }
          
          .controls-container__health {
              display: inline-flex;
              height: 100%;
              width: calc(100% - 2.4em);
              border-bottom: 5px solid rgba(1,1,1,0.5);
              padding-right: 0.5em;
              align-items: center;
              box-sizing: border-box;
              vertical-align: top;
          }
          
          .controls-container__healthbar {
              display: block;
              width: 50%;
              height: 30%;
              background: rgba(0,0,0,0.5);
          }
          
          .controls-container__healthbar div {
              height: 100%;
              width: 100%;
              background: var(--main-color);
          }
          
          .controls-container__health .icon {
              display: block;
              opacity: 0.7;
              transform: scale(0.5);
          }
          
          #map {
              z-index: 5;
              border: solid black;
              width: 25vmin;
              height: 25vmin;
              background: white;
              position: absolute;
              top: 0vmin;
              left: 0;
              margin: 1em;
          }
          
          #hunger, #thirst {
              color: white;
              font-family: var(--main-font);
          }
          
          #main-inventory {
              user-select: none;
              background: #3C3C3C;
              width: 80%;
              height: 90%;
              position: absolute;
              left: 10%;
              top: 5%;
              font-family: var(--main-font);
              color: white;
              display: grid;
              font-size: 1em;
              grid-template-columns: 40% 60%;
              grid-template-rows: 2.5em calc(100% - 6em) 3.5em;
              display: none;
              box-shadow: 0px 0px 10px black;
          }

          .main-inventory__description, .main-inventory__stats, .main-inventory__help {
              box-sizing: border-box;
              border: 10px solid #222222;
              grid-area: 2/1/4/2;
              font-size: 0.8em;
              padding: 0.5em;
              display: block;
              overflow: scroll;
              text-align: center;
          }

          .main-inventory__help-reference {
            width: 80%;
            margin: auto;
            text-align: center;
          }

          .main-inventory__help-reference p {
            font-family: inherit;
            font-size: inherit;
            display: inline;
            margin-right: 2em;
          }

          .main-inventory__help-reference p::before {
            content: "";
            width: 0.5em;
            height: 0.5em;
            display: inline-block;
            transform: translateX(-100%);
          }

          .main-inventory__type-tool::before {
           background-color: white;
          }

          .main-inventory__type-shirt::before {
           background-color: #79c9db;
          }

          .main-inventory__type-hat::before {
           background-color: #edff63;
          }

          .main-inventory__type-pants::before {
           background-color: #ffcb63;
          }

          .main-inventory__type-shoes::before {
           background-color: #be7ad6;
          }

          .main-inventory__stats {
              display: none;
          }

          .main-inventory__title {
              background: #222222;
              width: 100%;
              height: 100%;
              margin: 0;
              grid-area: 1/1/2/3;
              line-height: 100%;
              font-size: 1.5em;
              box-sizing: border-box;
              padding: 0.3em;
              padding-left: 10px;
              padding-right: 10px;
          }

          .main-inventory__items {
              box-sizing: border-box;   
              width: 100%;
              height: 100%;
              font-size: 0.8em;
              border: 10px solid #222222;
              border-left: none;
              grid-area: 2/2/3/2;
              padding: 0.5em;
              border-bottom: none;
          }

          .main-inventory__controls {
            grid-area: 3/2/3/3;
            width: 100%;
            height: 100%;
            border-bottom: 10px solid #222222;
            border-right: 10px solid #222222;
            box-sizing: border-box;
          }

          @media screen and (orientation: portrait) {
            #main-inventory {
              grid-template-columns: 100%;
              grid-template-rows: 2.5em calc(60% - 6em) 40% 3.5em;
            }
      
            .main-inventory__description, .main-inventory__stats, .main-inventory__help {
             grid-area: 2/1/2/2;
            }

            .main-inventory__title {
             grid-area: 1/1/2/1;
            }

            .main-inventory__items {
             grid-area: 3/1/3/1;
             border-left: 10px solid #222222;
             border-top: none;
            }

            .main-inventory__controls {
              grid-area: 4/1/4/1;
              border-left: 10px solid #222222;
            }
  
            .controls-container__buttons {
              width: 3em;
              height: auto;
             }

            .controls-container__button {
              display: block;
            }
          }

          .main-inventory__controls-help {
           font-family: inherit;
           color: white;
           background: none;
           border: 1px solid white;
           font-size: 1.2em;
           width: 1.2em;
           height: 1.2em;
           position: absolute;
           transform: translate(0.6em, -1.8em);
          }

          .main-inventory__help {
           display: none;
          } 

          .main-inventory__view-stats {
            font-family: inherit;
            font-size: 0.7em;
            margin-right: 1em;
            background: none;
            float: right;
            color: inherit;
            border: 1px solid white;
            border-bottom: 4px solid white;
          }
                    
          .main-inventory__close {
            font-family: inherit;
            font-size: 0.7em;
            background: var(--light-red);
            float: right;
            color: inherit;
            border: none;
            border-bottom: 5px solid #c40d00;
          } 
     
         .main-inventory__buttons {
            display: flex;
            align-items: center;
            justify-content: right;
            width: 100%;
            height: 100%;
            opacity: 0.5;
         }

          .inv-controls__btn {
            font-family: inherit;
            font-size: 1.2em;
            background: var(--light-red);
            color: inherit;
            border: none;
            margin-right: 1em;
            border-bottom: 5px solid #c40d00;
          }

          .main-inventory__controls-equip {
            background-color: var(--light-green); 
            border-color: #4c992f; 
           }

           .main-inventory__controls-switch {
            color: black;
            background-color: white; 
            border-color: gray; 
           }
          
          .main-inventory__items-container {
              width: 100%;
              height: 80%;
              display: grid;
              justify-content: center;
              grid-template-columns: repeat(5, 20%);
              grid-auto-rows: auto;
              margin-top: 0.5em;
              overflow-y: scroll;
              counter-set: item-index 0;
          }
          
          .main-inventory__item {
              box-sizing: border-box;
              background: rgba(1,1,1,0.2);
              aspect-ratio: 1/1;
              background-repeat: no-repeat;
              background-size: contain;
              margin: 5%;
          }
                    
          .main-inventory__items h2, .main-inventory__description h2, .main-inventory__stats h2, .main-inventory__help h2 {
              text-align: center;
              width: auto;
              background: rgba(1,1,1,0.3);
              margin-top: 0;
          }
          
          .main-inventory__items h2 {
              grid-area: 1/1/2/6;
          }
          
          .main-inventory__description-content, .main-inventory__stats-content, .main-inventory__help-content {
              text-align: center;
          }
          
          .main-inventory__item:nth-child(-n+5) {
              outline: 1px solid white;
          }

          .main-inventory__item::after {
              color: black;
              counter-increment: item-index;
              content: counter(item-index);
              width: 10px;
              height: 10px;
              background: none;
              margin-left: 5px;
          }

          .main-inventory__item:nth-child(-n+5)::after {
              color: white;
          }
                    
          .main-inventory__markers {
              box-sizing: border-box;
              grid-area: 3/1/4/3;
          }
                   
          #game-stats {
              color: black;
              font-family: var(--main-font);
              font-size: 1em;
              position: absolute;
              left: 0;
              bottom: 0;
              margin: 1em;
          }
   
          .onscreen-button {
            background: rgba(0,0,0,0.5);
            position: absolute;
          }
